/* path: src/styles.css */
/* styles.css */
html,
body,
#root {
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* Disable text selection */
body, html, #root, .canvas {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Disable long press context menu */
body, html, #root, .canvas {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: transparent; /* Android */
}

/* Navigation Bar */
.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 36%;
  z-index: 99;
  align-items: center;
}
@media (max-width: 768px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    z-index: 99;
    align-items: center;
  }
}
/* Logo */
.logo-image {
  width: 178px;
  height: auto;
  /* Automatically adjust height to maintain aspect ratio */
}

/* Timer */
.timer {
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
  color: #ffe600;
}

/* Total items */
.total-items {
  font-size: 20px;
  font-weight: bold;
  color: #ffe600;
  padding-left: 4px;
}

/* Progress bar */
.progress-bar-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 50%;
  margin-top: -26px;
}

.progress-bar-timer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  width: 0;
  height: 20px;
  background-color: #ffe600;
  transition: width 0.3s ease-in-out;
}

/* Popup */
.popup {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 300px;
  max-width: 80%;
}

.popup-content {
  text-align: center;
}

.popup-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 5px;
}

.popup-button:hover {
  background-color: #555;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  min-width: 300px;
}

.menu h1 {
  color: #fff;
  margin-bottom: 20px;
}

.menu .instructions {
  color: #fff;
  margin-bottom: 20px;
  line-height: 28px;
}

.contact-info, a, .good-luck {
  color: #ffe600;
}

.menu-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #555;
}

/*  mobile controls */
.mobile-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.control-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border: none;
}

.control-button.up::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #ffe600;
  transform: translate(-50%, -50%);
}

.control-button.down::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #ffe600;
  transform: translate(-50%, -50%);
}

.control-button.left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid #ffe600;
  transform: translate(-50%, -50%);
}

.control-button.right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #ffe600;
  transform: translate(-50%, -50%);
}