/* path: src/styles.css */
html,
body,
#root {
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* nav */
.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  z-index: 99;
}

/* logo */
.logo-image {
  width: 200px;
  height: auto;
  /* Automatically adjust height to maintain aspect ratio */
}

/* Timer */
.timer {
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
  color: #fff;
}

/* total items */
.total-items {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 200px;
  padding-left: 4px;
}

/* progress bar */
.progress-bar-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.progress-bar-timer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  width: 0;
  height: 20px;
  background-color: #ffe600;
  transition: width 0.3s ease-in-out;
}

/* popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  max-width: 80%;
}

.popup-content {
  text-align: center;
}

.popup-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 5px;
}

.popup-button:hover {
  background-color: #555;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.menu h1 {
  color: #fff;
  margin-bottom: 20px;
}

.menu .instructions{
  color: #fff;
  margin-bottom: 20px;
  line-height: 28px;
}

.contact-info, a, .good-luck{
  color: #ffe600;
}

.menu-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #555;
}